.daily {
    display: flex;
    justify-content: space-around;
}
.outer{
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.time-picker {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.btn {
    margin-top: 10px;
}

.select {
    width: 80px;
}

.duration {
    display: inline-block;
    width: 45px;
    text-align: center;
}

.purple {
    background-color: palevioletred;
    padding: 0 4px;
}