.week {
    display: flex;
    align-items: center;
}

.week-title {
    flex: auto;
    white-space: nowrap;
}

.btn {
    margin-top: 8px;
    background-color: rgb(6, 128, 67);
}

.week-data-wrap {
    display: flex;
    overflow-x: auto;
}

.week-period {
    text-align: center;
    margin-bottom: 2px;
}

.serial-range-edit {
    display: flex;
    justify-content: space-between;
    width: 100%;
}