.picker {
    width: 88px;
}

.week-day {
    background-color: rgb(245, 244, 242);
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 8px;
    margin: 0 4px;
    flex: none;
}

.input {
    width: 80%;
}

.btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

/* daily */
.issue-wrap {
    display: flex;
    flex-direction: column;
}

.time-picker-item {
    display: flex;
}

.duration {
    display: inline-block;
    text-align: center;
    line-height: 2em;
}
.duration-time {
    display: inline-block;
    width: 3.5rem;
}