@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: rgba(6, 128, 67, 0.2);
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 128, 67);
    font-weight: 500;
}

.home {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    height: 100vh;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: twinkle 3s infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

h1 {
    font-size: 2.5rem;
    margin: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img {
    border-radius: 50%;
}

/* J人复盘工具 - 标题 */
.j-title {
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: rgba(107, 194, 53, 0.8);
    text-shadow: 3px 8px 6px rgba(107, 194, 53, 0.8);
    white-space: nowrap;

    position: absolute;
    top: 20%;
}

.links {
    display: none;
}

.images-wrap {
    margin-top: 8rem;
    width: 64rem;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 1;
}

.images-wrap ul {
    width: 2000px;
}

.interval {
    margin-left: 1px;
}

.images-wrap li {
    position: relative;
    display: block;
    width: 16rem;
    float: left;

    border-left: 1px solid #888;

    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.images-wrap ul:hover li {
    width: 10rem;
}

.images-wrap ul li:hover {
    width: 40rem;
}

.poster {
    display: block;
}

.image_title {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40rem;
    color: #fff;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
}

.title-top {
    position: relative;
    z-index: 1;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    line-height: 2.5em;
    font-weight: 500;
    letter-spacing: 1px;
}

.title-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #d7ebba;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.title-top span {
    padding-left: 15px;
}

.desc {
    white-space: nowrap;
    margin: 0 4px 0 12px;
    color: dimgray;
}

.picker {
    width: 88px;
}

.week-day {
    background-color: rgb(245, 244, 242);
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 8px;
    margin: 0 4px;
    flex: none;
}

.btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

/* daily */
.issue-wrap {
    display: flex;
    flex-direction: column;
}

.routine-select {
    width: 6em;
}

.time-picker-item {
    display: flex;
}

.duration {
    display: inline-block;
    text-align: center;
    line-height: 2em;
}

.duration-time {
    display: inline-block;
    width: 3.5rem;
}

/* week */
.serial-week {
    width: 8rem;
}

.serial-week-br {
    display: none;
}

.serial-month-br {
    display: none;
}

.week-period-time {
    display: none;
}

/* month */
.textarea {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.month-review {
    display: flex;
    align-items: center;
}
