@media only screen and (min-width: 300px) and (max-width: 700px) {
    .j-title {
        font-size: 2rem;
    }

    .links {
        margin-top: 3rem;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .a-link{
        font-size: 1.2rem;
        position: static;
        transform: translate(60%, -250%);
    }

    .images-wrap {
        display: none;
    }

    .ribbon {
        margin-top: 2.4rem;
        position: relative;
        z-index: 2;

        color: rgb(255, 255, 255, .8);
        text-decoration: none;
        cursor: pointer;
    }

    .ribbon-link {
        background-color: #16A085;
        border: 1px solid rgba(6, 128, 67, 0.2);
        height: 56px;
        padding: 0 20px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ribbon:before,
    .ribbon:after {
        content: '.';
        text-indent: -9999em;
        height: 0;
        width: 0;
        border-style: solid;
        border-width: 28px;
        position: absolute;
        left: -45px;
        top: 10px;
        display: block;
        z-index: -1;
    }

    .ribbon:before {
        border-color: #138A72 #138A72 #138A72 transparent;
    }

    .ribbon:after {
        border-color: #138A72 transparent #138a73 #138a72;
        right: -45px;
        left: auto;
    }

    .ribbon:active {
        box-shadow: 1px 3px 0px rgb(106, 221, 129), 0px 3px 6px rgba(0, 0, 0, .9);
        position: relative;
        top: 2px;
    }

    /* daily 隐藏 */
    .phone-hidden {
        display: none;
    }

    .wrap,
    .wrap-week {
        width: 100%;
    }

    .routine-select {
        width: 6em;
    }

    /* week */
    .serial-week {
        width: 8rem;
    }

    .serial-month-br {
        display: block;
    }

    .week-period-time {
        display: block;
    }

    .week-day {
        width: 80%;
    }

    /* month */
    .textarea {
        flex-direction: column;
        align-items: flex-start;
    }

    /* read */
    .read-cover {
        display: none;
    }
    .layer {
        position: static;
        margin: 0;
    }
    .li-wrap {
        padding: 0;
    }
    .desc {
        font-size: 1rem;
    }
}